services:
  db:
    image: postgres:15.2
    restart: always
    environment:
      POSTGRES_USER: gitguesser
      POSTGRES_PASSWORD: gitguesser
      POSTGRES_DB: gitguesser_db
    expose:
      - 5432

  backend:
    build: ./backend
    command: bash -c 'while !</dev/tcp/db/5432; do sleep 1; done; uvicorn backend.app.main:app --host 0.0.0.0'
    volumes:
      - .:/backend
    ports:
      - 8000:8000
    environment:
      - DATABASE_URL=postgresql://gitguesser:gitguesser@db:5432/gitguesser_db
    depends_on:
      - db