body {
  background-color: black;
  color: white;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  display: flex;
  justify-content: center;
}

.form input {
  margin-bottom: 30px;
  margin-top: 20px;
  font-size: 17px;
  padding: 10px;
  border-radius: 10px;
}

.startButton {
  background-color: #429145;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.3s, color 0.3s;
}

.startButton:hover {
  background-color: #102710;
  color: #fff;
}

.searchRepoButton {
  margin-top: 45px;
  background-color: rgb(33, 116, 184);
  border: none;
  border-radius: 4px;
  font-size: medium;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  width: 200px;
  height: 60px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.searchRepoButton:hover {
  background-color: rgb(7, 22, 34);
  color: #fff;
}
