name: Testing and Style Check

on:
  push:
    branches:
      - main
  pull_request:
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Create .env.test file
        run: echo "${{ vars.ENV_TEST_FILE }}" > .env.test
      - name: Build and run containers
        run: docker-compose -f compose.yaml up -d --build
      - name: Run tests
        run: docker-compose -f compose.yaml exec --tty backend pytest
      - name: Stop containers
        run: docker-compose -f compose.yaml down

  style-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install dependencies
        run: |
          pip install autoflake isort black 
      - name: Check code style
        run: |
          autoflake --remove-all-unused-imports --recursive --remove-unused-variables --check backend
          isort backend --profile black --check-only
          black backend --check
